
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.main{
    background-image: url(assets/images/bg.jpg);
    height: 70vh;
    position: relative;
}

body{
    background-color: black;
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
    background-size: max(1200px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 62px;
    position: relative;
    top: 7px;
}

nav img{
    position: relative;
    z-index: 1;
}

nav button{
    position: relative;
    z-index: 1;
}

.hero{
    font-family: "Martel Sans", serif;
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    gap: 8px;
    padding: 0 25px;
    text-align: center;
    gap: 15px;
    
}

.hero> :first-child{
    font-weight: 1000;
    font-size: 40px;
    line-height: 50px;
    
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 20px;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    
}

.seperation{
    height: 4px;
    background-color: rgb(58, 56, 56);
}

.btn{
    padding: 10px 15px;
    font-size: 15px;
    margin: 3px;
    border-radius: 7px;
    font-weight: 400;
    background-color: rgba(8, 8, 8, 0);
    color: white;

}

.btn-red{
    background-color: red;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
}

.btn-red-sm{
    background-color: red;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    padding: 7px 15px;
}
.main input{
    padding: 20px 105px 20px 15px;
    font-size: 16px;
    text-align: left;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.023);
    border: 1px solid rgb(166, 166, 166);
    cursor: text;
    color: white;
    font-weight: 900;
}
.email{
    height: 35px;
    margin: 7px auto;    
}

.drop{
    padding: 8px 27px;
    border: 2px solid rgba(156, 155, 155, 0.678);
    position: relative;
    z-index: 1;
}



.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.Watch{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 34px 0;
}
.Watch span:first-child{
    font-weight: 800;
    font-size: 40px;
    font-family: "Martel Sans", serif;
}

.Watch span:nth-child(2){
    font-weight: 300;
    font-size: 20px;
    font-family: "Martel Sans", serif;
}

.secImg{
    position: relative;
    
}
.secImg img{
    width: 555px;
    position: relative;
    z-index: 1;
}
.secImg video{
    position: absolute;
    width: 555px;
    top: 5px;
    left: 0px;
    overflow: hidden;
    
    
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}
.faq h2{
    width: 82vw;
    margin: auto;
    font-size: 26px;
    font-weight: 600;
    font-family: "Helvetica Neue";
}
.faqbox{
    display: flex;
    background-color: #2D2D2D;
    padding: 20px;
    max-width: 80vw;
    margin: 10px auto;
    justify-content: space-between;
    color: #FFFFFF;
    transition: all 0.2s ease-out;
}


.faqbox span{
    font-family: "Helvetica Neue";
    font-weight: 400;
    font-size: 24px;
}



.faqbox svg{
    color: white;
    height: 34px;
    width: 34px;
}

.faqbox:hover{
    background-color: #414141;
    cursor: pointer;
}

.second2{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 34px auto; 
}

.second2 :first-child{
    font-family: "Martel Sans", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}


footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
    
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    padding: 4px;
}


footer span{
    font-family: "Helvetica Neue", serif;
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
}
.footer a{
    color: #B3B3B3;
    font-family: "Helvetica Neue", serif;
    font-size: 14px;
    font-weight: 400;
}

footer .footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.dropdown{
    width: 60vw;
    margin: 30px auto;
}

.India{
    color: 
    rgba(255, 255, 255, 0.7);
    width: 59vw;
    margin: 17px auto;
}

.India span{
    font-family: "Helvetica Neue", serif;
    font-size: 14px;
    font-weight: 400;
}